<h5>
  <%= @room.room %>
</h5>

<ul class="collection">

</ul>

<div class="input-field">
  <textarea class="materialize-textarea"></textarea>
  <button class="btn">Send Message</button>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    window.createSocket(<%= @room.id %>)
  })
</script>
